@import "tailwindcss";

/* Container */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  text-align: center;
}

.not-found-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 550px;
}

/* Heading */
.not-found-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  display: inline-block;
}

/* Text */
.not-found-text {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

/* GIF */
.not-found-gif {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Home link */
.not-found-link {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.not-found-link:hover {
  background-color: #ce2029;
}
